.app-action {
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#connection-form {
  color: white;
}

.legend {
  color: white;
}

.pure-alert {
  border-radius: 1px solid transparent;
  padding: 5px;
  color: white;
}

.pure-alert .close {
  border: 0px;
  background: inherit;
  color: inherit;
  right: -21px;
  top: -2px;
  position: relative;
}

.pure-success {
  background: #1cb841;
}

.pure-error {
  background: #ca3c3c;
}

.pure-warning {
  background: #df7514;
}

.pure-secondary {
  background: #42b8dd;
}

.button-success {
  background-color: #1cb841;
}

.button-error {
  background-color: #ca3c3c;
}

.button-warning {
  background-color: #df7514;
}

.button-secondary {
  background-color: #42b8dd;
}

.button-success, .button-error, .button-warning, .button-secondary {
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 0px;
  color: white;
}

.app-action h1, .app-action h2, .app-action h3, .app-action h4, .app-action h5, .app-action h6 {
  margin: 5px 7px;
}

.app-action .action-header {
  background-color: steelblue;
}

.app-action .action-header .action-header-title {
  color: white;
}

.app-action .action-list-item {

}

.app-action .action-list-item .to-right {
  right: 15px;
  position: absolute;
}

.inline-page {
  position: fixed;
  border: 0px;
  height: 100%;
  width: 100%;
}

.inline-page iframe {
  border: 0px;
  height: 100%;
  width: 100%;
}