.action-header {
  background-color: steelblue;
}

.action-header .action-header-title  {
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin: 7px 5px;
}

.action-list-item .to-right {
  position: absolute;
  right: 15px;
} 